In [5]:
import pandas as pd
df = pd.read_table('C:/Users/Chandan/Desktop/DATA/2017.txt',index_col=False)
df1 = pd.read_table('C:/Users/Chandan/Desktop/DATA/2016.txt',index_col=False)
df

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,142.0,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,184.0,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,16.0,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162893,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,78.0,66.0,123.0,NaN,NaN,NaN,0.0,NaN,122.0,22.0
1162894,1992999833,SHAW,L. NOAH,NaN,NaN,M,I,35 W 90TH ST,NaN,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162895,1992999866,COGAN,JACQUELINE,NaN,DDS,F,I,16235 NE 11TH CT,NaN,NORTH MIAMI BEACH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162896,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,25.0,13.0,23.0,NaN,0.0,0.0,0.0,NaN,26.0,12.0
1162897,1992999882,RUDZINSKI-WALTER,MARISSA,L,PA-C,F,I,575 N RIVER ST,NaN,WILKES BARRE,...,57.0,20.0,63.0,NaN,0.0,NaN,0.0,NaN,19.0,58.0

In [82]:
## NAN considered as 0 entry, so average n arithmatic computation consider only non-suppresed data
##Question 1: average number of beneficiaries per provider
total_rows = len(df.index)
summ = df['bene_count'].sum()
avg = summ/total_rows
avg

##Question 2: median, in days, of the distribution of this value across all providers
val1 = df["total_day_supply"] / df["total_claim_count"]
val1.median()

##Question 3: Fraction of drugs for brand name
tot_claims = df["total_claim_count"].to_numpy()
sum1 = df['total_claim_count'].sum()
sum2 = 0
for i in range(len(tot_claims)):
    if tot_claims[i] >= 1000:
        sum2 = sum2 + tot_claims[i]
frac = sum2/sum1
        

##Question 4: Ratio of opiniod to antibiotics beneficiaries
states = df['nppes_provider_state'].to_numpy()
uniqueStates = df['nppes_provider_state'].unique()
opiods = df['opioid_claim_count'].to_numpy()
antibio = df['antibiotic_claim_count'].to_numpy()
val2 = []
for i in range(len(uniqueStates)):
    sum1 = 0
    sum2 = 0
    for j in range(len(states)):
        if uniqueStates[i] == states[j]:
            sum1 = sum1 + opiods[j]
            sum2 = sum2 + antibio[j]
    val2.append(sum1/sum2)
sol = max(val2) - min(val2)
            
##Question 5: Pearson correlation
val3 = df["bene_count_ge65"]
val4 = df["lis_claim_count"]
val3.corr(val4)

##Question 7: Average Inflation Rate
val5 = df["total_drug_cost"] / df["total_day_supply"]
val6 = df1["total_drug_cost"] / df1["total_day_supply"]
inflation_rate = val5 - val6
avg_inflation_rate = inflation_rate.sum()/total_rows

##Question 8:
Spec1 = df1["specialty_description"].to_numpy()
Spec = df["specialty_description"].to_numpy()
uniqueSpec = df1["specialty_description"].unique()
providers_2016 = []
providers_2017 = []
for i in range(len(uniqueSpec)):
    sum1 = 0
    sum2 = 0
    for j in range(len(Spec1)):
        if uniqueSpec[i] == Spec1[j]:
            sum1 = sum1 + 1;
            
    providers_2016.append(sum1)
    
    for j in range(len(Spec)):
        if uniqueSpec[i] == Spec[j]:
            sum2 = sum2 + 1;
    
    providers_2017.append(sum2)
    
frac1 = []
for i in range(len(uniqueSpec)):
    if providers_2016[i] >= 1000:
        frac1.append((providers_2017[i] - providers_2016[i]) / len(uniqueSpec))

max(frac1)

1162898

In [34]:
Spec1 = df1["specialty_description"].to_numpy()
Spec = df["specialty_description"].to_numpy()
uniqueSpec = df1["specialty_description"].unique()
providers_2016 = []
providers_2017 = []
for i in range(len(uniqueSpec)):
    sum1 = 0
    sum2 = 0
    for j in range(len(Spec1)):
        if uniqueSpec[i] == Spec1[j]:
            sum1 = sum1 + 1;
            
    providers_2016.append(sum1)
    
    for j in range(len(Spec)):
        if uniqueSpec[i] == Spec[j]:
            sum2 = sum2 + 1;
    
    providers_2017.append(sum2)
    
frac1 = []
for i in range(len(uniqueSpec)):
    if providers_2016[i] >= 1000:
        frac1.append((providers_2017[i] - providers_2016[i]) / len(uniqueSpec))

max(frac1)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [45]:
frac1 = []
for i in range(len(uniqueSpec)):
    if providers_2016[i] >= 1000:
        frac1.append((providers_2017[i] - providers_2016[i]) / len(uniqueSpec))

max(frac1)

72.38565022421524

In [9]:
avg_inflation_rate

0.036504494343151